[submodule "data"]
	path = data
	url = https://github.com/gipsy-king/civmap-journeymap.git
	master = master
[submodule "public/tiles"]
	path = public/tiles
	url = https://github.com/gipsy-king/civmap-tiles.git
	master = master
[submodule "voxelmap"]
	path = voxelmap
	url = https://github.com/gipsy-king/civcraft-voxelmap.git
